.App {
  text-align: center;
}

h1,h2,h3 {
    font-family: monospace;
    color: #ec008e;
    -webkit-font-smoothing: none;
    margin-bottom: 0;
}

p {
  margin: 0 0 1em 0;
}

a {
  color: #ec008e;
  cursor: pointer;
}

.subgoals {
  display: flex;
  flex-wrap: wrap;
}
.subgoals div {
  flex: 1;
}
.subgoals p {
  cursor: pointer;
  display: inline-block;
}

button {
  color: #00d4e7;
  background: none;
  border: none;
  border-bottom: solid 2px #95da00;
  margin: 6px;
  padding: 4px;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
}

.subgoals p:hover button,
button:hover,
button:focus {
  outline: none;
  border-bottom-width: 5px;
  padding-bottom: 1px;
}

@media (max-aspect-ratio: 1/1) {
  button {
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
  }
}

